Repository owncloud/ocis, changes with the owners that .github/CODEOWNERS names for each.
All owners: @lukashirt, @kobergj, @phil-davis, @individual-it, @hodyroff

Add "refs/heads/stable-*" to drone.star
  .drone.star
Owners: @kobergj, @phil-davis, @individual-it

Fix the value for `target_branch`
  .drone.star
Owners: @kobergj, @phil-davis, @individual-it

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

feat(ocis): release 7.2.0-rc.2
  changelog/7.2.0-rc.2_2025-07-09/fix-cli-upload.md
  changelog/7.2.0-rc.2_2025-07-09/fix-roles-label.md
  changelog/7.2.0-rc.2_2025-07-09/fix-watermark-viewer-role.md
  ocis-pkg/version/version.go
  sonar-project.properties
Owners: none

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

chore: [OCISDEV-154] Clean up the unified roles label
  changelog/unreleased/fix-roles-label.md
Owners: none

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

feat(ocis): release 7.2.0-rc.1
  changelog/7.2.0-rc.1_2025-06-20/add-server-managed-spaces-capability.md
  changelog/7.2.0-rc.1_2025-06-20/add-space-editor-without-trashbin-role.md
  changelog/7.2.0-rc.1_2025-06-20/adjust-capabilities.md
  changelog/7.2.0-rc.1_2025-06-20/allow-setting-ids.md
  changelog/7.2.0-rc.1_2025-06-20/bump-reva.md
  changelog/7.2.0-rc.1_2025-06-20/bump-web-to-11.3.2.md
  changelog/7.2.0-rc.1_2025-06-20/change-clientlog-reva-gateway-.md
  changelog/7.2.0-rc.1_2025-06-20/change-removed-frontend-ocs.md
  changelog/7.2.0-rc.1_2025-06-20/claim-managed-spaces.md
  changelog/7.2.0-rc.1_2025-06-20/fix-app-auth-rest-status.md
  changelog/7.2.0-rc.1_2025-06-20/fix-app-auth.md
  changelog/7.2.0-rc.1_2025-06-20/fix-error-on-listing-space-members.md
  changelog/7.2.0-rc.1_2025-06-20/fix-graceful-shutdown.md
  changelog/7.2.0-rc.1_2025-06-20/fix-migrate-cli.md
  changelog/7.2.0-rc.1_2025-06-20/fix-ocm-role-editor.md
  changelog/7.2.0-rc.1_2025-06-20/fix-ocm-role-file-editor.md
  changelog/7.2.0-rc.1_2025-06-20/fix-ocm-share-notifications.md
  changelog/7.2.0-rc.1_2025-06-20/fix-parent-id-for-shares.md
  changelog/7.2.0-rc.1_2025-06-20/fix-pdf-form.md
  changelog/7.2.0-rc.1_2025-06-20/fix-reva-log.md
  changelog/7.2.0-rc.1_2025-06-20/fix-service-list.md
  changelog/7.2.0-rc.1_2025-06-20/fix-space-membership-expired-duplicate.md
  changelog/7.2.0-rc.1_2025-06-20/fix-space-membership-expired-event.md
  changelog/7.2.0-rc.1_2025-06-20/office-deployment-improvements.md
  changelog/7.2.0-rc.1_2025-06-20/remove-deprected-envvars.md
  changelog/7.2.0-rc.1_2025-06-20/update-bleve.md
  changelog/7.2.0-rc.1_2025-06-20/update-cli-delete-stale-uploads.md
  changelog/7.2.0-rc.1_2025-06-20/update-cookie-flags.md
  changelog/7.2.0-rc.1_2025-06-20/update-delete-notification-by-id.md
  changelog/7.2.0-rc.1_2025-06-20/update-graph-logs.md
  changelog/7.2.0-rc.1_2025-06-20/update-mockery.md
  changelog/7.2.0-rc.1_2025-06-20/update-ocis_full_images.md
  changelog/7.2.0-rc.1_2025-06-20/update-postprocessing-logs.md
  changelog/7.2.0-rc.1_2025-06-20/update-web-12.0.0.md
  changelog/7.2.0-rc.1_2025-06-20/update-web-12.0.1.md
  changelog/7.2.0-rc.1_2025-06-20/update-web-12.0.2.md
  changelog/7.2.0-rc.1_2025-06-20/update-wopi-token-check.md
  ocis-pkg/version/version.go
  sonar-project.properties
Owners: none

Automated changelog update [skip ci]
  CHANGELOG.md
Owners: none

feat: adjust to master
  .drone.star
  CHANGELOG.md
  changelog/7.2.0_2025-07-14/fix-roles-label.md
  ocis-pkg/version/version.go
  sonar-project.properties
Owners: @kobergj, @phil-davis, @individual-it

[tx] updated from transifex
  services/graph/pkg/l10n/locale/pt_BR/LC_MESSAGES/graph.po
  services/settings/pkg/service/v0/l10n/locale/de/LC_MESSAGES/settings.po
Owners: @lukashirt

.github/CODEOWNERS:

services/settings/ @lukashirt
services/web/ @lukashirt
.drone.star @kobergj @phil-davis @individual-it
assets/End-User-License-Agreement-for-ownCloud-Infinite-Scale.pdf @kobergj @hodyroff
